#macro (exposeGrailsDomainSpecific)
#end

#macro (exposeGrailsApplicationSpecific)
#set($runtimeDatabaseDriverDependency=$grailsUtils.getRuntimeDatabaseDriverDependency($database))
#end

#macro (exposeGrailsSpecific)
#set ($applicationGrails=$configuration.name)
#end

#macro (printGrailsDomainImport)
#putGrailsTemplateDefinition()
#foreach ($reference in $table.children)
#set ($thisTable = $reference.foreignTable)
#exposeImportGrailsParamParamsUML($reference.foreignTable)
#if(!$thisTable.isManyToMany())
import $importDomainObjectUML
#end
#end
#foreach ($reference in $table.parents)
#exposeImportGrailsParamParamsUML($reference.foreignTable)
#set ($thisTable = $reference.foreignTable)
#if(!$thisTable.isManyToMany())
import $importDomainObjectUML
#end
#end
#foreach ($reference in $childReferences)
#putReferenceParams()
#if($linktableDB.isManyToMany())
#foreach ($linkReference in $enrichmentUtils.getLinkedTargetReferenceByMany2Many($table))
#exposeM2MSpecific()
#exposeImportGrailsParamParamsUML($targetTable)
import $importDomainObjectUML
#end
#end
#end
#end

#macro (exposeImportGrailsParamParamsUML $tableDB)
#set ($importDomainObjectUML = $commonUtils.getEntityLevelTemplateFullPath($model, $tableDB, $template, $templateGrailsDomainObject))
#end

#macro (putGrailsTemplateDefinition)
#set ($templateGrailsDomainObject="GromDomainObject")
#set ($templateGrailsJQueryJsonSearchDOHtml="GrailsJQueryJsonSearchDOHtml")
#set ($templateGrailsJQueryXmlSearchDOHtml="GrailsJQueryXmlSearchDOHtml")
#end

