#exposePrimefacesConfig()
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="$primefacesNamespace">
<h:body>
<p:breadCrumb>  
    <p:menuitem value="" url="/${modelMenuJSFImport}" />  
	<p:menuitem value="#{view.viewId.substring(0, view.viewId.length()-6)}" url="#{view.viewId}" ajax="false"/>
</p:breadCrumb>
</h:body>
</html>	
