#exposeJSFModelSpecific()
#exposeSeparator()
#exposePrimefacesConfig()
#putImportQuerySDDBean()
#putImportSDDInputBean()
#exposeQuerySpecific()
#set ($inputClass = $commonUtils.getTemplateClassName($inputBean, $model, $templateSDDInputBean))
#set ($tableVariableName = $commonUtils.getJavaNameVariableFirstLetter($inputClass))
#set($tableDB = $inputBean)
#set ($entityControllerJSFClass = $commonUtils.getTemplateClassName($tableDB, $model, $templateEntityControllerJSF))
#set ($entityControllerJSFVariable = $commonUtils.getJavaNameVariableFirstLetter($entityControllerJSFClass))
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="$primefacesNamespace">
<ui:composition template="$modelDecoratorJSFImport">
	<ui:define name="title">#{i18n.manageSddTitle} for #{i18n.$tableVariableName}</ui:define>
	<ui:define name="heading">#{i18n.$tableVariableName}</ui:define>
	<ui:define name="body">
		<h:form>
			<p:panel id="sddInputPanel" header="#{i18n.$tableVariableName}"
				toggleable="true" closable="false" toggleSpeed="500"
				onCloseUpdate="growl" closeSpeed="2000" onToggleUpdate="growl"
				widgetVar="panel">
				<p:messages id="messages" />
				<h:panelGrid columns="3" cellpadding="10">
#foreach($column in $inputBean.columns)
#putColumnParams()
#columnJavaNaming()
#putJSFColumnSnippet()
#end
                <p:commandButton title="#{i18n.execute}" value="#{i18n.execute}" update="sddInputPanel,display"
                    action="#{${entityControllerJSFVariable}.execute}" />
				</h:panelGrid>
			</p:panel>
            <p:panel id="display" header="Information" style="margin-top:10px;">
            <p:dataTable var="${sddOutputBeanVariable}" value="#{${entityControllerJSFVariable}.getOutputList()}" paginator="true" rows="10"  
                        selection="#{${entityControllerJSFVariable}.selected${sddOutputBeanClass}}" 
                        selectionMode="single" rowKey="#{${sddOutputBeanVariable}}"
                        onRowSelectUpdate="display" 
                        dynamic="true"  resizableColumns="true"
                        paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"  
                        rowsPerPageTemplate="5,10,15"> 
                <f:facet name="header">  
                    List of #{i18n.$sddOutputBeanVariable}  
                </f:facet>  
                <p:column style="width:16px">  
                    <p:rowToggler/>  
                </p:column>
#foreach($column in $outputBean.columns)
#putColumnParamNaming()
                <p:column sortBy="#{${sddOutputBeanVariable}.${columnVar}}" filterBy="#{${sddOutputBeanVariable}.${columnVar}}">  
                    <f:facet name="header">  
                        <h:outputText value="#{i18n.$sddOutputBeanVariable$separator$columnVar}" />  
                    </f:facet>  
                    <h:outputText value="#{${sddOutputBeanVariable}.${columnVar}}" />  
                </p:column>  
#end
                </p:dataTable>  
            </p:panel>
		</h:form>
	</ui:define>
</ui:composition>
</html>