minuteArchitecture/
minuteDemo/
minuteFitNesse/
minuteFoundation/
minuteRelease/
minuteSample/
minuteTemplate2/
target/
.svn/
.idea
.classpath
.project
*.iml
*.class
# Package Files #
*.jar
*.war
*.ear
