#exposeJdbc()
#set ($datasource = $model.dataModel.basicDataSource)
$jdbcDriverClassName=$datasource.driverClassName
$jdbcUrl=$datasource.url
$jdbcUsername=$datasource.username
$jdbcPassword=$datasource.password
$jdbcJNDI=$datasource.jndi
