#exposeVariablePackageSpecific()
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

#foreach ($table in ${package.listOfTables})
#putImportParamsUML()
#exposeServiceParam()
#exposeArchitectureParams()
    <bean id="$serviceVariableName" class="$importServiceImplName" singleton="false" >
        <property name="$daoInterfaceVariableNameUML"><ref bean="$daoInterfaceVariableNameUML"/></property>
    </bean>
#end
#foreach ($view in ${package.listOfViews})
#set ($table = $view)
#putImportParamsUML()
#exposeServiceParam()
#exposeArchitectureParams()
    <bean id="$serviceVariableName" class="$importServiceImplName" singleton="false" >
        <property name="$daoInterfaceVariableNameUML"><ref bean="$daoInterfaceVariableNameUML"/></property>
    </bean>
#end

</beans>
