#exposeVariableModelSpecific()
#exposeConnectionSpecific()
#set ($pathSpringProperties = $bslaLibraryUtils.getModelLevelTemplateFullClassPath($model, $template, "BslaSpringProperties") )
#exposeJdbc()
#exposeVariableModelSpecific()
#exposeArchitectureParams()
#exposeSpringJPAArchitectureParams()
#exposeJPASpecifics()
#exposeEnvironment()
<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jndi="http://www.springframework.org/schema/jee"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
                           http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.0.xsd
                           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
                           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <bean id="placeHolderConfig"
        class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location"><value>classpath:${pathSpringProperties}.properties</value></property>
    </bean>     

#if ($hasEnvironmentTag)
#if ($hasEnvironmentLocalTag)
#parse("./snippet/bslaDatasourceLocal.vm")
#else      
#parse("./snippet/bslaDatasourceRemote.vm")
#end  
#else
<!--
#parse("./snippet/bslaDatasourceLocal.vm")
-->

#parse("./snippet/bslaDatasourceRemote.vm")
#end 

    <!-- correct bean to effectively insert (and commit) -->
    <bean id="${model.name}TransactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="$JPAFactoryName"/>
        <property name="dataSource" ref="${model.name}DataSource"/>
    </bean>

#if ($model.statementModel.hasQueries())
#set($templateSDDSpringJPADao = "SDDSpringJPADao")
#set($sddDaoPackageName=$commonUtils.getPackageName($model, $template, $templateSDDSpringJPADao))
    <context:component-scan base-package="${sddDaoPackageName}"/>
#end
    <!-- to get the entity manager -->
    <tx:annotation-driven transaction-manager="${model.name}TransactionManager"/>
    
</beans>
