#exposeVariableModelSpecific()
#exposeConnectionSpecific()
#set ($pathSpringProperties = $bslaLibraryUtils.getModelLevelTemplateFullClassPath($model, $template, "BslaSpringProperties") )
#exposeJdbc()
#exposeEnvironment()
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

    <bean id="placeHolderConfig"
        class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location"><value>classpath:${pathSpringProperties}.properties</value></property>
    </bean>

#if ($hasEnvironmentTag)
#if ($hasEnvironmentLocalTag)
#parse("./snippet/bslaDatasourceLocal.vm")
#else      
#parse("./snippet/bslaDatasourceRemote.vm")
#end  
#else
<!--
#parse("./snippet/bslaDatasourceLocal.vm")
-->

#parse("./snippet/bslaDatasourceRemote.vm")
#end    

    <bean id="${model.name}TransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource"><ref bean="${dataSourceName}"/></property>
    </bean>

</beans>
