#exposeVariableModelSpecific()
#set ($pathSpringProperties = $bslaLibraryUtils.getTemplateClassName($model, $template, "BslaSpringProperties") )
#exposeJdbc()
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

    <bean id="placeHolderConfig"
        class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location"><value>classpath:${pathSpringProperties}.properties</value></property>
    </bean>

    <bean id="${model.name}DataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
#exposeJdbcParam($jdbcDriverClassName)
        <property name="driverClassName"><value>$paramResult</value></property>
#exposeJdbcParam($jdbcUrl)        
        <property name="url"><value>$paramResult</value></property>
#exposeJdbcParam($jdbcUsername)        
        <property name="username"><value>$paramResult</value></property>
#exposeJdbcParam($jdbcPassword)
        <property name="password"><value>$paramResult</value></property>
    </bean>

    <bean id="${model.name}TransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource"><ref bean="${model.name}DataSource"/></property>
    </bean>

</beans>
