




































































































































































































































































































































































































































































--

#set ($linkItems = $utils.getJavaName($reference.tableName))
<table>
	<tr>
#foreach ($column in $reference.table.columns)
	<th>$column.name</th>
#end
	</tr>
	<c:forEach var="entity" items="$items.${linkItems}">	
#foreach ($column in $reference.table.columns)
#set ($columnVariable = $utils.getJavaNameVariable($column.name))
#set ($entityFirst = '${entity.')
#set ($entityLast = '}')
#set ($entity = "${entityFirst}${columnVariable}${entityLast}")
	<tr><c:out value="$entity"/></tr>
#end
	</c:forEach>
</table>

#end
</br>
</body>
</html>

--