#macro (exposeSDOSpecific)
#exposeADFSpecific()
#set($namespacePackageShort = $adfUtils.getNamespacePackage($model, $template, $templateADFModelBc4j))##"eu/europa/ec/sg/nif2/model/common/")
#set($namespacePackage = "/${namespacePackageShort}/")
#set($namespaceTypesPackage = $namespacePackage+"types/")
#set($appModuleADFSODServiceImplImport=$commonUtils.getEntityLevelTemplateFullPath($model, $template, $templateSDOAppModuleServiceImplJava))
#set($appModuleADFSODServiceFaceImport=$commonUtils.getEntityLevelTemplateFullPath($model, $template, $templateSDOAppModuleServiceJava))
#set($appModuleADFSODServiceFaceClass=$commonUtils.getTemplateClassName($model, $template, $templateSDOAppModuleServiceJava))
#set($appModuleADFSODServiceImplClass=$commonUtils.getTemplateClassName($model, $template, $templateSDOAppModuleServiceImplJava))
#set($appModuleADFSDOServiceXsdClass=$commonUtils.getTemplateClassName($model, $template, $templateSDOAppModuleServiceXsd))
#end

#macro (exposeADFSpecific)
#exposeADFTemplate()
#set($AppModuleTemplate = $commonUtils.getTemplate($model.configuration, $templateADFModelAppModule))
#set($rootPackage=$modelUtils.getPackageRoot($AppModuleTemplate)+".$model.name")
#set($javaPackage =  $commonUtils.getRootAndTechnicalPackageName($model, $templateADFEntity))
#set($javaPackageView =  "${rootPackage}.view")
#end

#macro (exposeADFEntitySpecific)
#exposeVariableEntitySpecific()
#exposeADFTemplate()
#exposeADFConfig()
#set ($entityADFClass = $commonUtils.getTemplateClassName($tableDB, $model, $templateADFEntity))
#set ($entityADFVariable = $commonUtils.getJavaNameVariableFirstLetter($entityADFClass))
#set ($entityADFImport = $commonUtils.getEntityLevelTemplateFullPath($model, $tableDB, $template, $templateADFEntity))	
#set ($entityADFViewClass = $commonUtils.getTemplateClassName($tableDB, $model, $templateADFView))
#set ($entityADFViewVariable = $commonUtils.getJavaNameVariableFirstLetter($entityADFViewClass))
#set ($entityADFViewImport = $commonUtils.getEntityLevelTemplateFullPath($model, $tableDB, $template, $templateADFView))	
#end

#macro (exposeADFSDOEntitySpecific)
#exposeVariableEntitySpecific()
#exposeADFTemplate()
#exposeADFConfig()
#set ($entityADFSDOXsdClass = $commonUtils.getTemplateClassName($tableDB, $model, $templateSDOEntityXsd))
#set ($entityADFSDOXsdClassName = $commonUtils.getTemplateArtifactName($tableDB, $templateSDOEntityXsd))
##set ($entityADFSDOXsdVariable = $commonUtils.getJavaNameVariableFirstLetter($entityADFSDOXsdClass))
##set ($entityADFSDOXsdImport = $commonUtils.getEntityLevelTemplateFullPath($model, $tableDB, $template, $templateSDOEntityXsd))	
#set ($entityADFSDOViewClass = $commonUtils.getTemplateClassName($tableDB, $model, $templateSDOViewFace))
#set ($entityADFSDOViewVariable = $commonUtils.getJavaNameVariableFirstLetter($entityADFSDOViewClass))
#set ($entityADFSDOViewImport = $commonUtils.getEntityLevelTemplateFullPath($model, $tableDB, $template, $templateSDOViewFace))	
#set ($entityADFSDOViewImplClass = $commonUtils.getTemplateClassName($tableDB, $model, $templateSDOViewImpl))
#set ($entityADFSDOViewImplVariable = $commonUtils.getJavaNameVariableFirstLetter($entityADFSDOViewImplClass))
#set ($entityADFSDOViewImplImport = $commonUtils.getEntityLevelTemplateFullPath($model, $tableDB, $template, $templateSDOViewImpl))	
#end

#macro (exposeADFModelSpecific)
#exposeVariableModelSpecific()
#exposeADFSpecific()
#exposeADFConfig()
#set($appModuleName=$commonUtils.getTemplateClassName($model, $template, $templateADFModelAppModule))
#set($applicationName="${model.name}SDO")
#set($modelADFModuleJpxImport = $commonUtils.getArtifactFullClasspath($model, $templateADFModelJpx))	
#set($modelADFModuleJpxFullPath = $commonUtils.getArtifactRelativePathDirAndFullName($model, $templateADFModelJpx))	
#set($modelADFAppModuleImport = $commonUtils.getArtifactFullClasspath($model, $templateADFModelAppModule))	
#set($modelADFAppModulerRootPath = $commonUtils.getArtifactRelativePathDir($model, $template, $templateADFModelAppModule))	
#set($modelADFAppModulerPackageName = $commonUtils.getPackageName($model, $template, $templateADFModelAppModule))	
#set($ejbBeanName="AppModuleServiceBean")
#set($ejbBean=$modelADFAppModulerPackageName+".common."+$ejbBeanName)
#set($modelADFModuleBc4jFullPath = $commonUtils.getArtifactRelativePathDirAndFullName($model, $templateADFModelBc4j))	
##set($modelADFJprName=$formatUtils.firstLowerCaseOnly($commonUtils.getTemplateFileName($model, $template, $templateADFModelJpr)))	
#set($modelADFJprName=$commonUtils.getTemplateFileName($model, $template, $templateADFModelJpr))	
#set($modelADFJprFullPath = "Model/${modelADFJprName}")	
##set($viewControllerADFJprName=$formatUtils.firstLowerCaseOnly($commonUtils.getTemplateFileName($model, $template, $templateADFViewControllerJpr)))	
#set($viewControllerADFJprName=$commonUtils.getTemplateFileName($model, $template, $templateADFViewControllerJpr))	
#set($viewControllerADFJprFullPath = "ViewController/$viewControllerADFJprName")	
#set($projectJwsFullName = $commonUtils.getTemplateFileName($model, $template, $templateADFJws))	
#end

#macro (exposeADFBuildSpecific)
#exposeADFTemplate()
#set($projectJwsFullName = $commonUtils.getTemplateFileName($model, $template, $templateADFJws))	
#set($JDEV_HOME=$template.getPropertyValue("JDEV_HOME","D:/SOFT/SERVER/ORACLE/WLS/jdeveloper"))
#set($OMF_HOME=$template.getPropertyValue("OMF_HOME","D:/SOFT/SERVER/ORACLE/WLS"))
#set($WEBLOGIC_HOME=$template.getPropertyValue("WEBLOGIC_HOME","D:/SOFT/SERVER/ORACLE/WLS"))
#set($WLS_HOME=$template.getPropertyValue("WLS_HOME","D:/SOFT/SERVER/ORACLE/WLS/SERVER"))
#set($projectModelPhysicalDirPath=$commonUtils.getPhysicalDirPath($model, $template, $templateADFModelJpr))
##set($projectJwsPhysicalPath=$commonUtils.getPhysicalPathFileStartWithLowerCase($model, $template, $templateADFJws))
#set($projectJwsPhysicalPath=$commonUtils.getPhysicalPath($model, $template, $templateADFJws))
#set($modelADFJprClass = $commonUtils.getTemplateClassName($model, $template, $templateADFModelJpr))	
#end

#macro (exposeSDOColumnSpecific)
#set($sdoType=$adfUtils.getSdoXsdType($column))
#set($hasSdoDataType=$adfUtils.hasSdoXmlDataType($column))
#set($sdoXmlDataType=$adfUtils.getSdoXmlDataType($column))##"sdoJava:LongObject")
#end

#macro(exposeADFConfig)
#set ($adfVersion=$template.getPropertyValue("adf-version","3.3.1"))
#end

#macro(exposeSDOReference)
#putReferenceParams2()
#end

#macro (exposeADFTemplate)
#set ($templateADFModelAppModule = "ADF.Model.AppModule")
#set ($templateADFEntity = "ADF.Model.Entity")
#set ($templateADFFkAssoc = "ADF.Model.FkAssoc")
#set ($templateADFFkLink = "ADF.Model.FkLink")
#set ($templateADFView = "ADF.Model.View")
#set ($templateADFModelJpx = "ADF.Model.jpx")
#set ($templateSDOAppModuleServiceImplJava = "ADF.SDO.AppModuleServiceImplJava")
#set ($templateSDOAppModuleServiceJava = "ADF.SDO.AppModuleServiceJava")
#set ($templateSDOAppModuleServiceWsdl = "ADF.SDO.AppModuleServiceWsdl")
#set ($templateSDOAppModuleServiceXsd = "ADF.SDO.AppModuleServiceXsd")
#set ($templateSDOEjbJar = "ADF.SDO.ejb-jar")
#set ($templateSDOWeblogicEjbJar = "ADF.SDO.weblogic-ejb-jar")
#set ($templateSDOEntityXsd = "ADF.SDO.EntityXsd")
#set ($templateSDOViewFace = "ADF.SDO.ViewFace")
#set ($templateSDOViewImpl = "ADF.SDO.ViewImpl")
#set ($templateADFModelJpr = "ADF.Model.jpr")
#set ($templateADFViewControllerJpr = "ADF.ViewController.jpr")
#set ($templateADFModelBc4j = "ADF.Model.bc4j")
#set ($templateADFJws = "ADF.jws")
#end