#exposeVariableEntitySpecific()
#set ($entityInSession = "${tableClassName}SearchResultOne")
<%@ include file="/WEB-INF/jsp/common/common-include.jsp"%>
<fmt:setBundle basename="$bundle"/>
<table>
	#foreach ($column in ${tableDB.columns})
#putColumnParams()
<tr>
		<td><fmt:message key="$resource"/></td>
		#exposeJstlEntity($entityInSession $columnVar)
#set ($linkedTableValue = $commonUtils.getForeignKeyTableName($column, $tableDB))
#if ($column.isPrimaryKey())
#set ($actionURL = $URLUtils.getSearchByIdURL($tableDB.name, $column.name, $entityInSession))
	<td><a href="${ctx}/$actionURL"><c:out value="$entity"/></a>
	#set ($actionURL = $URLUtils.getEditURL($tableDB.name, $column.name, $entityInSession))
	<a href="${ctx}/$actionURL"><img src="${ctx}/images/edit.gif"><%--<c:out value="$entity"/>--%></a></td>
#elseif ("$linkedTableValue"!="")
#set ($actionURL = $URLUtils.getSearchByIdURL($linkedTableValue, $column.name, $entityInSession))
	<td><a href="${ctx}/$actionURL"><c:out value="$entity"/></a></td>
		#else
	<td><c:out value="$entity"/></td>
#end
	</tr>
	#end	
</table>
