#exposeVariableEntitySpecific()
package ${packageName};

import org.springframework.roo.addon.dod.RooDataOnDemand;
import $importDomainObject;

@RooDataOnDemand(entity = ${domainObject}.class)
public class $className {
}
