#exposeVariableEntitySpecific()
#exposeRooTestSpecific()
package ${packageName};

import org.springframework.beans.factory.annotation.Configurable;

privileged aspect $className {
    
    declare @type: $rooIntegrationTestClassName: @Configurable;
    
}
