#exposeSDOSpecific()
#exposeADFModelSpecific()
#set($connectionDS=$template.getPropertyValue("connection-datasource-name","jdbc/${model.name}DS"))
<?xml version = '1.0' encoding = 'UTF-8'?>
<BC4JConfig version="11.1" xmlns="http://xmlns.oracle.com/bc4j/configuration">
   <AppModuleConfigBag ApplicationName="${modelADFAppModuleImport}" default="AppModuleService">
      <AppModuleConfig name="AppModuleLocal" ApplicationName="${modelADFAppModuleImport}" DeployPlatform="LOCAL" JDBCName="${model.name}LocalDS" jbo.project="$modelADFModuleJpxImport">
         <Security AppModuleJndiName="${modelADFAppModuleImport}"/>
      </AppModuleConfig>
      <AppModuleConfig name="AppModuleShared" ApplicationName="${modelADFAppModuleImport}" DeployPlatform="LOCAL" JDBCName="${model.name}LocalDS" jbo.project="$modelADFModuleJpxImport">
         <AM-Pooling jbo.ampool.maxpoolsize="1" jbo.ampool.isuseexclusive="false"/>
         <Security AppModuleJndiName="${modelADFAppModuleImport}"/>
      </AppModuleConfig>
      <AppModuleConfig DeployPlatform="SI" jbo.project="$modelADFModuleJpxImport" name="AppModuleService" ApplicationName="${modelADFAppModuleImport}">
         <AM-Pooling jbo.ampool.resetnontransactionalstate="true"/>
         <Database jbo.locking.mode="optimistic"/>
         <Security AppModuleJndiName="${modelADFAppModuleImport}"/>
         <Custom JDBCDataSource="$connectionDS"/>
      </AppModuleConfig>
   </AppModuleConfigBag>
</BC4JConfig>
