#set ($packageName = $xmlSchemaUtils.getPackageName($model, $template))
#set ($className = $commonUtils.getClassName($model, $template))
#set ($digesterFullPathConfigXml = $xmlSchemaUtils.getDigesterFullPathConfigXml($configuration))
#set ($rootElementVar = $xmlSchemaUtils.getFirstSequenceElementJavaNameVariable($rootElement))
#set ($rootElementName = $xmlSchemaUtils.getFirstSequenceElementJavaName($rootElement))
#set ($importRootElementClass = $xmlSchemaUtils.getFirstSequenceElementJavaNameImport($rootElement, $configuration))
#set ($holderElementVar = $xmlSchemaUtils.getDigesterHolderBeanNameVariable($configuration))
#set ($holderElementName = $xmlSchemaUtils.getDigesterHolderBeanName($configuration))
#set ($importHolderElementClass = $xmlSchemaUtils.getDigesterHolderBeanNameImport($configuration))
package $packageName;

import java.io.File;
import java.io.FileInputStream;
import java.io.InputStream;
import java.net.URL;
import java.util.Date;

import org.apache.commons.digester.Digester;
import org.apache.commons.digester.xmlrules.DigesterLoader;
import org.apache.log4j.Logger;

import $importHolderElementClass;

/**
 * @author Florian Adler
 *
 */
public class ${className} {

	private static Logger logger = Logger.getLogger(${className}.class);

#foreach ($element in $elements)
#if($element.isComplexType())
--->--$element 
$element.name
#end
#end	
	private String config;
	private String configDir;
	
	public ${className} (String config) {
	   setConfig(config);
	}
	
	public Presentation (String configDir, String config) {
		setConfig(config);
		setConfigDir(configDir);
	}
	
	public String getDigesterRule() {
		return "$digesterFullPathConfigXml";
	}
	
	public static void main(String args[]) throws Exception {
		if (args.length < 1) {
			System.exit(1);
		}
		Date startDate = new Date();
	    logger.info("start time = "+new Date());
	    ${className} loader = new ${className}(args[0]);
		$holderElementName $holderElementVar = loader.load();
		Date endDate = new Date();
		logger.info("time taken : "+(endDate.getTime()-startDate.getTime())/1000+ "s.");
	}
	
	public $holderElementName load() throws Exception{
		if (getConfigDir()==null)
			return load(getConfig(), getDigesterRule());
		return load(getConfigDir(), getConfig(), getDigesterRule());
	}
	
	public $holderElementName load (String configuration, String rules) throws Exception{
		$holderElementName $holderElementVar = new $holderElementName();
		loadDigester($holderElementVar, getInputStream(configuration), rules);
        return $holderElementVar;		
	}
	
	public $holderElementName load (String fileDirName, String fileName, String rules) throws Exception{
		$holderElementName $holderElementVar = new $holderElementName();
		loadDigester($holderElementVar, getInputStream(fileDirName, fileName), rules);
        return $holderElementVar;		
	}
	
	private InputStream getInputStream (String fileName) {
		return getClass().getClassLoader().getSystemResourceAsStream(fileName);
	}
	
	private InputStream getInputStream (String fileDirName, String fileName)  throws Exception{
		return new FileInputStream (new File (fileDirName+"/"+fileName));
	}

	private void loadDigester (Object object, InputStream input, String rules) throws Exception {
        URL rulesURL = getClass().getClassLoader().getResource(rules);
        Digester digester = DigesterLoader.createDigester(rulesURL);
        digester.push(object);
        digester.parse(input);
	}
	
	public String getConfig() {
		return config;
	}

	public void setConfig(String config) {
		this.config = config;
	}
	
	public String getConfigDir() {
		return configDir;
	}
	
	public void setConfigDir(String configDir) {
		this.configDir = configDir;
	}
	
}
