    public $daoInterfaceName get$daoInterfaceClassName(){
       return $daoInterfaceVariableName;
    }

    public void set$daoInterfaceClassName($daoInterfaceName $daoInterfaceVariableName) {
       this.$daoInterfaceVariableName = $daoInterfaceVariableName;
    }