#exposeVariableModelSpecific() 
#exposeOXSpecific()
##<?xml version = "1.0" encoding = "ISO-8859-1"?>
##<!DOCTYPE application SYSTEM "dtds/application.dtd">
<application name="$applicationOX"> 
	
	<!-- 
	A default module for each entity is assumed with the
	controllers on <default-module/>
	-->
	
	<default-module>		  
		<controller name="Typical"/>
	</default-module>
	
##exposeVariableModelDetailSpecific()
#foreach($table in $model.businessModel.businessPackage.getEntities())
<!-- entity : $table.name -->
#exposeVariableEntitySpecific()
  <module name="$tableClassName">
	  <model name="$tableClassName"/>  
#if(!$isView)
	  <env-var name="XAVA_SEARCH_ACTION" value="MpTypical.searchByViewKey"/>
	  <controller name="MpTypical"/>
#else
	  <controller name="MpSearchAndPrint"/>
#end
#foreach ($column in ${table.columns})
#putColumnParams()
#if ($columnUtils.hasFormulaStereotype($column))
#set ($formula = $column.stereotype.formula)
#set ($formulaName = $formatUtils.getJavaName($formula.name))
	  <controller name="${columnVar}${formulaName}Controller"/>
#end
#end
	</module>	
#end
	
#foreach ($table in $model.businessModel.businessPackage.transferEntities)
#exposeVariableEntitySpecific()
	<module name="$tableClassName" >
	    <model name="$tableClassName"/>
	    <view name="base"/> 
	    <controller name="$openXavaUtils.getControllerName($table)"/>  
	    <mode-controller name="DetailOnly"/>
	</module>
#end
	
#foreach ($function in $database.functions)
#set ($inout = $commonUtils.getDirection("INOUT"))
#set ($table = $function.getEntity($inout))
#exposeVariableEntitySpecific()
	<module name="$tableClassName" >
	    <model name="$tableClassName"/>
	    <view name="base"/> 
	    <controller name="$openXavaUtils.getControllerName($table)"/>  
	    <mode-controller name="DetailOnly"/>
	</module>
#end
		
</application>

