#exposeVariableModelSpecific() 
#set ($applicationOX=$configuration.name) 
#set ($applicationLabel=$formatUtils.getJavaName($applicationOX))
<div class='portlet' style='margin: 4px'>

<div>
&nbsp;&nbsp;<b>Disclaimer:</b>
This site is an example site to demonstrate the use of <a href=http://minuteproject.sourceforge.net>MinuteProject</a> for the project $applicationLabel .
</div>

</div>
