#exposeOXhelp()
# Look at OpenXavaTest/properties/xava.properties for more options

readOnlyAsLabel=false
i18nWarnings=true
tabAsEJB=false
showCountInList=true
maxSizeForTextEditor=80
jpaCodeInPOJOs=true
csvSeparator=;
detailOnBottomInCollections=false
failOnAnnotationMisuse=true
emailAsUserNameInPortal=false
buttonsForNoImageActions=false
toUpperForStringArgumentsInConditions=true
showFilterByDefaultInList=true
showFilterByDefaultInCollections=true
mapFacadeAutoCommit=false
#portletLocales=en,es,ca,fr

# styleClass and styleCSS have only effect outside a portal, 
# inside a portal OX portlets acquire automatically the portal skin.

# Liferay 5.1: This is the DEFAULT, so you do not need to uncomment the next lines
#styleClass=org.openxava.web.style.Liferay51Style
#styleCSS=liferay51/css/everything_unpacked.css

# Liferay 4.3/4.4/5.0: uncomment the next line for use this nice and slow style
#styleClass=org.openxava.web.style.Liferay43Style
#styleCSS=liferay43/css/everything_unpacked.css

# Classic style: uncomment the next line for use the old OX style 
#styleClass=org.openxava.web.style.Style
#styleCSS=default.css

# For creating your own style: 
# - Copy and paste the folder liferay51 (on web/xava/style) with the name mystyle
# - Modify mystyle/css/everything_unpacked.css at your own taste 
# - Uncomment the next lines
#styleClass=org.openxava.web.style.Liferay51Style
#styleCSS=mystyle/css/everything_unpacked.css


#SMTP related information
smtpHost=Host
smtpPort=25
smtpUserId=user
smtpUserPassword=password        

# LOGGING LEVEL FOR OpenXava AND OpenXava APPLICATIONS
# Possibles values are: SEVERE, WARNING, INFO, CONFIG, FINE, FINER, FINEST, ALL, OFF
# This affects only if Java logging is used (usually in Tomcat and WebSphere). 
# It does not affect log4j configuration (usually in JBoss or if you use log4j in your app).
# Default value is INFO  
javaLoggingLevel=FINEST

# LOGGING LEVEL FOR HIBERNATE ENGINE
# Possibles values are: SEVERE, WARNING, INFO, CONFIG, FINE, FINER, FINEST, ALL, OFF
# Default value is INFO  
#hibernateJavaLoggingLevel=FINEST

# EJB3 Java Persistence API
persistenceProviderClass=org.openxava.model.impl.JPAPersistenceProvider
mapFacadeAsEJB=false

# Hibernate pure version
#persistenceProviderClass=org.openxava.model.impl.HibernatePersistenceProvider
#mapFacadeAsEJB=false

# EJB using EntityBeans (CMP2) for persistence
#persistenceProviderClass=org.openxava.model.impl.EJBPersistenceProvider
#mapFacadeAsEJB=true

# EJB using Hibernate for persistence
#persistenceProviderClass=org.openxava.model.impl.HibernatePersistenceProvider
#mapFacadeAsEJB=true

helpPrefix=$OXhelpDirectory
helpSuffix=.$OXhelpFileExtension
#helpInNewWindow=true


