#exposeVariableModelSpecific() 
#exposeOXSpecific()
<?xml version="1.0" encoding="ISO-8859-1"?>

<portlet-app id="$applicationOX"
	xmlns="http://java.sun.com/xml/ns/portlet/portlet-app_1_0.xsd" 
	version="1.0" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/portlet/portlet-app_1_0.xsd http://java.sun.com/xml/ns/portlet/portlet-app_1_0.xsd"> 
#foreach($table in $model.businessModel.businessPackage.getEntities())
#exposeVariableEntitySpecific()
#if (!$isMany2Many)
	<portlet id="$domainClassName">
		<description>$applicationOX - $domainClassName</description>       
		<description xml:lang="en">$applicationOX - $domainClassName</description>         
		<portlet-name>$domainClassName</portlet-name>
		<display-name>$applicationOX - $domainClassName</display-name>    
		<display-name xml:lang="en">$applicationOX - $domainClassName</display-name>    
		<portlet-class>org.openxava.web.portlets.XavaPortlet</portlet-class>
		<init-param>
			<name>Application</name>
			<value>$applicationOX</value>
		</init-param>
		<init-param>
			<name>Module</name>
			<value>$domainClassName</value>
		</init-param> 
		<expiration-cache>0</expiration-cache>
		<supports>
			<mime-type>text/html</mime-type>
			<portlet-mode>VIEW</portlet-mode>
		</supports>
		<supported-locale>en</supported-locale> 
    	<resource-bundle>portlets/$domainClassName</resource-bundle>
	</portlet> 
#end
#end
</portlet-app>