#exposeVariableEntitySpecific()
#exposeVariableEntityStruts2Specific()
#set ($action = "save")
#set ($htmlFormName = $table.name)
#set ($entityInSession = "${tableClassName}SearchResultOne")
<%@ taglib prefix="s" uri="/struts-tags" %>
<html>
<head>
	<title>$table.name edit screen</title>
</head>	
<body>

$table.name field values
<s:form name="$htmlFormName" 
        action="submit${actionManageScreen}.action" 
        namespace="/${businessPackageName}" 
        method= "POST" 
        validate="true">
    <input type="hidden" name="_table" value="$table.name">
    <input type="hidden" name="action" value="$action">
    <input type="hidden" name="table" value="$table.name">
#foreach ($column in ${table.columns})
#putColumnParams()
#exposeJstlEntity($entityInSession $columnVar)
#if(!$column.isPrimaryKey())
	<s:textfield label="${tableVariableName}.$columnVar" name="$columnVar"/>
#end
#end
<s:submit/>
</s:form>
</body>
</html>
