#exposeSpringDomainObjectSpecific()
#exposeRESTURLServer()
package $packageName;

$!updatedAreaImport
import java.util.Date;
import java.util.List;
import java.util.ArrayList;
import java.io.*;
import java.sql.*;

import javax.servlet.http.*;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.beans.factory.annotation.Qualifier;
import org.springframework.stereotype.Service;
import org.springframework.transaction.annotation.Propagation;
import org.springframework.transaction.annotation.Transactional;

#exposeRESTURLServer()
import javax.ws.rs.Path;
import javax.ws.rs.PathParam;
import javax.ws.rs.FormParam;
import javax.ws.rs.Consumes;
import javax.ws.rs.POST;
import javax.ws.rs.DELETE;
import javax.ws.rs.GET;
import javax.ws.rs.PUT;
import javax.ws.rs.Produces;
import javax.ws.rs.core.Context;
import javax.ws.rs.core.MediaType;
import javax.ws.rs.core.Request;
import javax.ws.rs.core.Response;
import javax.ws.rs.core.UriInfo;
import javax.xml.bind.JAXBElement;

import $BslaDaoInterfaceImport;
import $BslaDaoExtInterfaceImport;
import $importDomainObjectUML;

/**
 *
 * <p>Title: ${className}</p>
 *
 * <p>Description: remote interface for ${className} service </p>
 *
 */
@Path ("$restXmlServerUrl")
@Produces ({MediaType.APPLICATION_XML, MediaType.APPLICATION_JSON})
@Consumes ({MediaType.APPLICATION_XML, MediaType.APPLICATION_JSON})
@Service
@Transactional
public class ${className} #if($implementInterface)implements $EJBDaoRemoteInterfaceClass#end {
 

	@Autowired
	@Qualifier("$BslaDaoInterfaceVariable")
	${BslaDaoInterfaceClass} $BslaDaoInterfaceVariable;
	
	@Autowired
	@Qualifier("$BslaDaoExtInterfaceVariable")
	${BslaDaoExtInterfaceClass} $BslaDaoExtInterfaceVariable;

#exposeEntityUpdatedAreas("FIND_ALL")
$!updatedAreaBegin
#if($isUpdated)
$!updatedAreaSnippet
#else
    @GET
    @Produces ({MediaType.APPLICATION_XML, MediaType.APPLICATION_JSON})	
    public List<$tableClassName> findAll () {
		List<$tableClassName> r = new ArrayList<$tableClassName>();
        List<$tableClassName> l = ${BslaDaoInterfaceVariable}.searchPrototype$tableClassName(new $tableClassName());
		for ($tableClassName $tableVariableName : l) {
			r.add(${tableVariableName}.flat());
		}
		return r;
    }
#end
$!updatedAreaEnd

#if ($hasOnlyOnePrimaryKey)
#exposeEntityUpdatedAreas("FIND_BY_ID")
$!updatedAreaBegin
#if($isUpdated)
$!updatedAreaSnippet
#else	
    @GET
    @Path("{$primaryKeyVariable}")
    @Produces ({MediaType.APPLICATION_XML, MediaType.APPLICATION_JSON})		
    public $tableClassName findById (@PathParam ("$primaryKeyVariable") $primaryKeyFullType $primaryKeyVariable) {
        $tableClassName _$tableVariableName = new $tableClassName ();
		_${tableVariableName}.set${primaryKeyJavaNameClass}($primaryKeyVariable);
		_$tableVariableName = ${BslaDaoExtInterfaceVariable}.getFirst$tableClassName(_$tableVariableName);
		if (_$tableVariableName!=null) return _${tableVariableName}.flat();
		return new $tableClassName ();
    }
#end
$!updatedAreaEnd

    @DELETE
    @Path("{$primaryKeyVariable}")
    public void delete (@PathParam ("$primaryKeyVariable") $primaryKeyType $primaryKeyVariable) {
        $tableClassName $tableVariableName = new $tableClassName ();
        ${tableVariableName}.set$primaryKeyJavaNameClass($primaryKeyVariable);
        ${BslaDaoInterfaceVariable}.delete$tableClassName($tableVariableName);
    }
#end

    @POST
    @Produces ({MediaType.APPLICATION_XML, MediaType.APPLICATION_JSON})	
    @Consumes(MediaType.APPLICATION_FORM_URLENCODED)
    public $tableClassName create (
#foreach ($column in ${table.columns})
#putColumnParams()
#columnJavaNaming()
        @FormParam("$columnVar") $columnType $columnVar,
#end
        @Context HttpServletResponse servletResponse
        ) throws IOException {
        $tableClassName _$tableVariableName = new $tableClassName (
#foreach ($column in ${table.columns})
#putColumnParams()
#columnJavaNaming()
           $columnVar#if ($velocityCount!=$table.columnCount),
#end
#end
);
        return save(_$tableVariableName);
    }

    @PUT
    @Consumes({MediaType.APPLICATION_XML, MediaType.APPLICATION_JSON})
    public $tableClassName save(JAXBElement<$tableClassName> jaxb$tableClassName) {
        $tableClassName $tableVariableName = jaxb${tableClassName}.getValue();
        if (${tableVariableName}.get${primaryKeyJavaNameClass}()!=null)
            return ${BslaDaoInterfaceVariable}.update$tableClassName($tableVariableName);
        return save($tableVariableName);
    }

	public $tableClassName save ($tableClassName $tableVariableName) {
		${BslaDaoInterfaceVariable}.save$tableClassName($tableVariableName);
		return $tableVariableName;
	}

$!updatedAreaImplementation
}