#exposeVariableEntitySpecific()
<$domainVariableName>
#foreach($column in ${table.primaryKeyColumns})
#putColumnParams()
 <$columnVar>${${domainVariableName}.${columnVar}}</$columnVar>
#end
#foreach ($column in ${table.attributes})
#putColumnParams()
 <$columnVar>${${domainVariableName}.${columnVar}}</$columnVar>
#end
</$domainVariableName>
