	protected $tableClassName assignBlankToNull ($tableClassName $tableVariableName) {
	    if ($tableVariableName==null)
			return null;
#foreach ($column in ${table.columns})
#putColumnParams()
#if ($columnType=="String")
        if (${tableVariableName}.get$columnClass()!=null && ${tableVariableName}.get$columnClass().equals(""))
           ${tableVariableName}.set$columnClass((String)null);
#end
#end	
		return ${tableVariableName};
	}
	
	protected boolean isAllNull ($tableClassName $tableVariableName) {
	    if ($tableVariableName==null)
			return true;
#foreach ($column in ${table.columns})
#putColumnParams()
        if (${tableVariableName}.get$columnClass()!=null) 
            return false;
#end
		return true;
	}
	