    protected String getUpdateNotNullOnly${tableClassName}QueryChunkPrototype ($tableClassName $tableVariableName) {
        boolean isWhereSet = false;
        StringBuffer query = new StringBuffer();
        query.append (" update $tableClassName $tableVariableName ");
#foreach ($column in ${table.columns})
#if (!$column.isPrimaryKey())
#putColumnParams()
        if (${tableVariableName}.get$columnClass() != null) {
           query.append (getQueryCommaSet (isWhereSet));
           isWhereSet = true; 
           query.append(" ${tableVariableName}.${columnVar} = :${columnVar}");
        }
#end    
#end
        return query.toString();
    }
    
    protected String getUpdateNotNullOnly${tableClassName}QueryChunk ($tableClassName $tableVariableName) {
        boolean isWhereSet = false;
        StringBuffer query = new StringBuffer(getUpdateNotNullOnly${tableClassName}QueryChunkPrototype($tableVariableName));
#foreach ($column in $table.primaryKeyColumns)
#putColumnParams()
        if (${tableVariableName}.get$columnClass() != null) {
           query.append (getQueryWHERE_AND (isWhereSet));
           isWhereSet = true;
			     query.append(" ${tableVariableName}.${columnVar} = :${columnVar}");
        }
#end   	
        return query.toString();
    }
    
