#macro (exposeSpringDomainObjectSpecific)
#exposeVariableEntitySpecific()
#exposeEnvironmentParams()
#exposeJPA2DomainObject($tableDB)
#exposeSpringBslaDomainObject()
#set($implementInterface=$template.getPropertyValue("implement-interface",false))
#end

#macro (exposeSpringBslaDomainObject)
#exposeSpringTemplate()
#set ($BslaDaoInterfaceClass = $commonUtils.getTemplateClassName($tableDB, $model, $templateDomainObjectBslaDaoInterface))
#set ($BslaDaoInterfaceVariable = $commonUtils.getJavaNameVariableFirstLetter($BslaDaoInterfaceClass))
#set ($BslaDaoInterfaceImport = $commonUtils.getEntityLevelTemplateFullPath($model, $tableDB, $template, $templateDomainObjectBslaDaoInterface))
#set ($BslaDaoExtInterfaceClass = $commonUtils.getTemplateClassName($tableDB, $model, $templateDomainObjectBslaDaoExtInterface))
#set ($BslaDaoExtInterfaceVariable = $commonUtils.getJavaNameVariableFirstLetter($BslaDaoExtInterfaceClass))
#set ($BslaDaoExtInterfaceImport = $commonUtils.getEntityLevelTemplateFullPath($model, $tableDB, $template, $templateDomainObjectBslaDaoExtInterface))
#end

#macro (exposeSpringServiceDomainObject)
#exposeSpringTemplate()
#set ($SpringServiceInterfaceClass = $commonUtils.getTemplateClassName($tableDB, $model, $templateSpringServiceInterface))
#set ($SpringServiceInterfaceVariable = $commonUtils.getJavaNameVariableFirstLetter($SpringServiceInterfaceClass))
#set ($SpringServiceInterfaceImport = $commonUtils.getEntityLevelTemplateFullPath($model, $tableDB, $template, $templateSpringServiceInterface))
#end

#macro (exposeSDDSpring)
#exposeSDDSpringTemplate()
#set ($sddServiceInterfaceClass = $commonUtils.getTemplateClassName($query, $template, $templateSDDServiceInterface))
#set ($sddServiceInterfaceVariable = $commonUtils.getJavaNameVariableFirstLetter($sddServiceInterfaceClass))
#set ($sddServiceInterfaceImport = $commonUtils.getEntityLevelTemplateFullPath($query, $template, $templateSDDServiceInterface))
#set ($sddDaoInterfaceClass = $commonUtils.getTemplateClassName($query, $template, $templateSDDDaoInterface))
#set ($sddDaoInterfaceVariable = $commonUtils.getJavaNameVariableFirstLetter($sddDaoInterfaceClass))
#set ($sddDaoInterfaceImport = $commonUtils.getEntityLevelTemplateFullPath($query, $template, $templateSDDDaoInterface))
#set ($sddSpringJPADaoInterfaceClass = $commonUtils.getTemplateClassName($query, $template, $templateSDDSpringJPADaoClass))
#set ($sddSpringJPADaoInterfaceVariable = $commonUtils.getJavaNameVariableFirstLetter($sddSpringJPADaoInterfaceClass))
#set ($sddSpringJPADaoInterfaceImport = $commonUtils.getEntityLevelTemplateFullPath($query, $template, $templateSDDSpringJPADaoClass))
#end

#macro (exposeSDDCompositeSpring)
#exposeSDDSpringTemplate()
#set ($sddCompositeDaoInterfaceClass = $commonUtils.getTemplateClassName($composite, $template, $templateSDDCompositeDaoInterface))
#set ($sddCompositeDaoInterfaceVariable = $commonUtils.getJavaNameVariableFirstLetter($sddCompositeDaoInterfaceClass))
#set ($sddCompositeDaoInterfaceImport = $commonUtils.getEntityLevelTemplateFullPath($composite, $template, $templateSDDCompositeDaoInterface))
#end

#macro (exposeSpringTemplate)
#set ($templateDomainObjectBslaDaoInterface = "BslaDaoInterfaceUML")
#set ($templateDomainObjectBslaDaoExtInterface = "BslaDaoInterfaceExtendedUML")
#set ($templateRestController = "SpringMVCRestController")
#set ($templateSpringBackendConfig="BslaSpringConfigMainBackend")
#set ($templateSpringServiceInterface="SpringServiceInterface")
#set ($templateSpringServiceClass="SpringServiceImpl")
#end

#macro (exposeSDDSpringTemplate)
#set ($templateSDDDaoInterface = "SDDDaoInterface")
#set ($templateSDDServiceInterface = "SDDServiceInterface")
#set ($templateSDDCompositeDaoInterface = "SDDCompositeDaoInterface")
#set ($templateSDDSpringJPADaoClass = "SDDSpringJPADao")
#end

#macro (exposeSpringModelSpecific)
#exposeSpringTemplate()
#exposeSDDSpringTemplate()
#set($controllerPackageName=$commonUtils.getPackageName($model, $template, $templateRestController))
#set($pathSpringBackendConfig=$commonUtils.getArtifactRelativePathDirAndFullName($model, $template, $templateSpringBackendConfig))
#set($controllerDaoPackageName=$commonUtils.getPackageName($model, $template, $templateSDDSpringJPADaoClass))
#set($springServicePackageName=$commonUtils.getPackageName($model, $template, $templateSpringServiceClass))
#end

